@layer components {
  .classe-teste{
    @apply bg-primary
  }

  /*Form */

.form-label {
  @apply col-span-12  text-center md:text-lg  text-primary-500 ;
}


  /*Inputs - Input , Select e Textarea */

.form-input {
    @apply block rounded-sm px-3 pb-3 pt-5 w-full text-sm text-primary-900 bg-white outline-0 border-2 border-primary-100 appearance-none focus:outline-0 focus:ring-0 
  }

.form-input-placeholder {
    @apply absolute text-sm text-primary-500 cursor-text duration-300 transform -translate-y-3 scale-75 top-3 origin-[0] left-3 peer-focus:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3 uppercase font-bold
  }


  /*Checkbox  */

  
  .form-checkbox-label {
    @apply text-sm text-primary-500 cursor-pointer duration-300 text-left origin-[0] left-3 font-medium
  }





  /*New Form */

.new-form-label {
  @apply col-span-12  text-center md:text-lg  text-primary-500 ;
}


  /*Inputs - Input , Select e Textarea */

.new-form-input {
    @apply flex  px-3 py-4 rounded-xl w-full text-sm text-primary-300 focus:text-primary-500 bg-white outline-0 border-2 border-primary-100 appearance-none focus:outline-0 focus:border-primary-300 transition-all focus:ring-0 
  }

.new-form-input-placeholder {
    @apply absolute text-sm text-primary-500 cursor-text duration-300 transform -translate-y-3 scale-75 top-3 origin-[0] left-3 peer-focus:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3 uppercase font-bold
  }


  /*Checkbox  */

  
  .form-checkbox-label {
    @apply text-sm text-primary-500 cursor-pointer duration-300 text-left origin-[0] left-3 font-medium
  }



  /* Title  */
  .title{
    @apply drop-shadow-neon-sm w-44 xl:w-54 2xl:w-64   mx-auto
  }

  /* Detalhe */
  .detalhe{
    @apply max-w-24 md:max-w-32 z-5 absolute h-auto object-contain w-[20%] md:w-[8%]
  }

  /* Como Participar */

.como-participar-img{
  @apply w-12 h-auto overflow-hidden object-contain 
}

.como-participar-swiper{
  @apply pointer-events-none !flex !w-full !gap-8 p-2 max-w-xs 2xl:max-w-xl
}

.como-participar-swiper-slide{
  @apply  !w-full !transition-all hover:scale-110 hover:brightness-125      
}

/* Premios */

.premios-wrapper{
  @apply flex md:hidden w-full flex-col items-center justify-center gap-12
}
.premios-desktop-wrapper{
  @apply hidden md:flex w-full flex-col items-center justify-center 
}

.premios-desktop-sem-inst-wrapper{
  @apply w-full flex-row flex gap-8 items-center justify-center
}

.premios-img{
  @apply h-auto object-contain overflow-hidden w-full  max-h-[70vh] drop-shadow-neon-sm
}

.premios-vic{
  @apply absolute max-h-[40vh] w-[40vw] md:w-fit left-[5%] bottom-0
}

/* Marcas Participantes */

.marcas-title{
  @apply w-44 xl:w-64 2xl:w-80
}

.text-marcas{
@apply text-lg md:text-xl text-primary-700 uppercase font-title font-extrabold max-w-2xl text-center
}
.text-highlight-marcas{
  @apply text-primary-500 text-xl md:text-2xl 
}

.text-wrapper-marcas-button{
  @apply flex justify-center items-center flex-col gap-6 mt-4
}
.text-marcas-wrapper-button {
  @apply text-primary-500 text-center
}
.text-highlight-marcas-wrapper-button{
  @apply font-bold 
}


.swiper-marcas{
  @apply max-w-[80%] !w-full  md:!max-w-4xl 2xl:max-w-6xl !overflow-visible  
}

.swiper-slider-marcas{
  @apply justify-center !w-full items-center my-auto 
}

.swiper-slider-wrapper-marcas{
  @apply  flex flex-wrap justify-center items-center !w-full gap-6 
}
.swiper-img-marcas{
  @apply  transition-all hover:scale-110 hover:brightness-115 object-contain  pointer-events-auto h-auto w-12 md:w-16 xl:w-18 2xl:w-20 shadow-neon-md rounded-full aspect-square bg-primary bg-cover bg-center
}

/* Marcas Impulsionadoras */

.imp-title{
  @apply w-64 xl:w-80 2xl:w-96
}

.text-imp{
@apply text-lg md:text-xl text-white uppercase font-title font-extrabold max-w-2xl text-center
}
.text-highlight-imp{
  @apply text-accent-500 text-xl md:text-2xl 
}

.text-wrapper-imp-button{
  @apply flex justify-center items-center flex-col gap-6 mt-4
}
.text-imp-wrapper-button{
  @apply text-white text-center
}
.text-highlight-imp-wrapper-button{
  @apply font-bold text-accent-500
}

.img-imp{
  @apply  transition-all hover:scale-105 hover:brightness-125 hover:cursor-pointer  object-contain h-auto w-20 md:w-24 xl:w-30 2xl:w-36 rounded-full aspect-square bg-secondary bg-cover bg-center shadow-neon-sm
}

/* Video  */

.video-title {
  @apply w-36 xl:w-36 2xl:w-44
}
.video-iframe{
  @apply w-full aspect-video rounded-lg shadow-neon-lg max-w-3xl
}





/* Button */
.button{
  @apply leading-none px-4 md:px-8 flex w-full  items-center gap-4 bg-cover bg-center py-3 md:py-4 font-title font-black uppercase rounded-xl md:rounded-2xl rounded-br-4xl md:rounded-br-5xl hover:cursor-pointer hover:brightness-125 hover:scale-105 transition-all text-lg max-w-md hover:shadow-neon-md
}
  .button-link-wrapper{
    @apply w-full flex items-center justify-center
  }


.button-primary-solid{
  @apply bg-primary text-accent-500 shadow-neon-md
}
.button-primary-outline{
  @apply text-secondary-700 shadow-neon-container-pri 
}
.button-primary-transparent{
  @apply bg-none text-secondary-700 p-0  hover:shadow-none
}
.button-secondary-solid{
  @apply bg-accent shadow-neon-sm text-secondary-700 
}
.button-secondary-outline{
  @apply text-white shadow-neon-container-pri bg-black/5
}
.button-secondary-transparent{
  @apply bg-none text-white p-0 hover:text-accent-500 active:text-accent-500 hover:shadow-none
}

.button-navigation{
@apply text-base
}

.button-navigation-logged{
@apply text-base md:text-sm tracking-wider   
}
.button-navigation-sair{
@apply text-base text-xs md:w-fit text-right opacity-75 
}

/* Header */

.header-nav{
  @apply flex flex-col justify-between items-center fixed z-10 w-full max-w-screen p-4
}

.header-main{
  @apply max-w-none transition-all p-3 gap-0
}
.header-wrapper{
  @apply w-full flex flex-row gap-4 lg:gap-8 items-center justify-between max-w-[1920px] 
}

.header-main {
  @apply overflow-hidden transition-all duration-300 ease-in-out
}

.header-top-logo {
@apply flex hover:scale-110 hover:brightness-110 transition-all overflow-hidden w-full max-w-16
}

.header-top-button {
@apply flex lg:flex-row-reverse w-full justify-evenly items-center gap-2 lg:gap-8
}

.navigation{
  @apply flex flex-col lg:flex-row lg:w-full items-center justify-between w-full max-w-7xl p-2 gap-2 lg:gap-4 mt-2
}

.navigation-logged{
  @apply flex flex-col md:flex-row items-center w-full rounded-t-none overflow-hidden transition-all duration-300 py-4 px-6 lg:p-3 pb-8 max-w-none
}

.navigation-logged-wrapper{
  @apply max-w-5xl flex flex-col md:flex-row items-center justify-between w-full gap-2 md:gap-4
}

.navigation-primary{
  @apply text-secondary-700!
}

.burger-button{
@apply relative w-8 h-8 p-0 flex items-center justify-center hover:cursor-pointer hover:scale-110
}

.burger-icon{
  @apply absolute inset-0 m-auto w-8 h-8 transition-all duration-300
}

/* Hero  */
.section-hero{
  @apply min-h-screen h-auto md:h-screen overflow-visible overflow-x-hidden pt-28 flex flex-col md:flex-row md:pb-6 rounded-t-none items-center justify-center
} 

.div-hero{
  @apply flex flex-col gap-12 md:hidden items-center  object-contain
}

.div-hero-desk{
  @apply  flex flex-col items-center justify-center gap-4 w-full drop-shadow-neon-sm
}

.div-wrapper-hero{
  @apply flex flex-col gap-8
}

.img-hero{
  @apply drop-shadow-neon-sm w-full flex object-contain
}

.img-hero-desk{
  @apply  overflow-hidden w-full h-full flex object-contain
}

.img-wrapper-desk{
  @apply w-full h-full flex object-contain overflow-hidden 
}
.img-hero-desk-vic {
  @apply mt-10 object-bottom
}

/*ganhadores*/

.ganhadores-accordion{
   @apply bg-white/10 shadow-neon-container-sec  w-full  text-center rounded-2xl rounded-br-5xl justify-center backdrop-blur-xl items-center flex flex-col px-6 py-8 md:p-8
}

.ganhadores-header{
   @apply !text-secondary-700 uppercase font-black text-2xl  md:text-3xl
}

.ganhadores-table{
   @apply  border-primary-100 mt-2 border-1 font-black rounded-md overflow-x-auto h-fit max-h-[20rem]
}

.ganhadores-message{
  @apply text-primary-700 font-bold py-6
}

.ganhadores-table-header{
  @apply text-primary-700 divide-primary-100 divide-x-2  uppercase sticky top-0
}

.ganhadores-body-rows{
@apply h-[35px] border-y-[1px] text-primary-500 border-primary-100 divide-primary-100 divide-x-2 font-normal text-sm
}

.footer {
  @apply bg-primary-900 text-white z-0 rounded-t-3xl;
}

.footer-duvidas,
.footer-social,
.footer-bottom-buttons,
.footer-logos {
  @apply flex flex-col items-center w-full justify-center;
}

.footer-duvidas {
  @apply gap-8 md:gap-16;
}

.footer-duvidas-wrapper {
  @apply flex flex-col w-full gap-8 md:gap-16 justify-center md:flex-row;
}

.footer-duvidas-title {
  @apply font-title font-bold uppercase text-xl;
}

.footer-suporte,
.footer-faq {
  @apply flex flex-col w-full items-center justify-center gap-4 md:gap-8 text-center
         p-4 border-4 border-white rounded-3xl;
}

.footer-suporte-title, .footer-faq-title{
  @apply font-bold text-lg
}

.footer-suporte {
  @apply h-full;
}

.footer-highlight {
  @apply text-accent-500;
}

.footer-bottom {
  @apply flex flex-col items-center justify-center gap-8 md:gap-16 w-full lg:flex-row ;
}

.footer-button,
.footer-button-whatsapp {
  @apply rounded-full border-4 shadow-none;
}

.footer-button {
  @apply text-accent-500 border-accent-500;
}

.footer-button-whatsapp {
  @apply text-whatsapp-green border-whatsapp-green;
}

.footer-button-span,
.footer-button-whatsapp-span {
  @apply flex flex-row gap-4 items-center justify-center;
}

.footer-social,
.footer-logos {
  @apply gap-3 lg:flex-row ;
}

.footer-social{
  @apply flex-row
}

.footer-bottom-buttons {
  @apply gap-4 text-center ;
}

.footer-bottom-button {
  @apply text-white border-white;
}

.footer-logos {
  @apply gap-4 xl:flex-row;
}

.footer-logo{
  @apply flex flex-col gap-4 text-center items-center justify-center font-title font-bold
}

.footer-texto-legal{
  @apply  w-full text-xs lg:text-sm text-center break-words max-w-7xl
}


  

/* duvidas */

.duvidas-category{
  @apply w-full  font-title text-lg md:text-xl font-extrabold p-0    text-secondary-700 flex flex-row
  hover:brightness-115 transition-all !mb-4}


.duvidas-category-html{
  @apply hover:cursor-pointer appearance-none h-full p-4 w-full focus:outline-none 
}
.duvidas-category-arrow{
  @apply absolute  my-auto  right-4 pointer-events-none 
}

.duvidas-category-option{
  @apply bg-white font-title text-lg md:text-xl font-extrabold
}

.duvidas-question{
  @apply text-primary-500 !shadow-none !bg-none !py-0 !px-0 text-left 
}
.duvidas-question-answer{
  @apply text-primary-500 text-left
}
.duvidas-question-arrow{
  @apply  pointer-events-none w-12
}

/* 

.duvidas-category-trigger {
  @apply font-title text-lg md:text-xl font-extrabold text-secondary-700 flex-row
         hover:scale-105 hover:brightness-110 transition-all hover:cursor-pointer
         appearance-none h-full p-4 focus:outline-none;
}
.duvidas-category-content {
  @apply box-border bg-white text-left !items-start p-4 mt-16 overflow-hidden
         w-[var(--radix-select-trigger-width)]
         text-primary-500 text-lg md:text-xl font-extrabold font-title;
}

.duvidas-category-item {
  @apply px-3 py-2 rounded cursor-pointer 
          data-[highlighted]:text-secondary-700
         focus:outline-none focus:ring-0 !outline-none !ring-0;
}

 */



/*meus-premios*/

.meus-premios-header{
   @apply !text-white  font-black text-2xl  md:text-3xl
}

.meus-premios-accordion{
   @apply bg-white/10 shadow-neon-container-sec  w-full  text-center rounded-2xl rounded-br-5xl justify-center backdrop-blur-xl items-center flex flex-col px-6 py-8 md:p-8
}

.swiper-meus-premios{
  @apply !w-full  !overflow-visible  
}

/*meus-cupons*/

.meus-cupons-cupom{
  @apply bg-primary-500/10 shadow-neon-container-sec  w-full cursor-pointer  text-start rounded-2xl rounded-br-5xl justify-center backdrop-blur-xl items-center flex flex-col overflow-hidden 
}

.meus-cupons-text{
  @apply text-white 
}

.meus-cupons-cupom-text-details{
  @apply text-accent-500 font-extrabold text-sm
}
}

.aprovado{
  @apply text-aprovado font-bold
}

.pendente{
  @apply text-pendente font-bold
}
.reprovado{
  @apply text-reprovado font-bold
}

.meus-cupons-menu-value{
  @apply bg-primary-500/10 text-white font-black shadow-neon-container-sec text-2xl rounded-2xl rounded-br-5xl overflow-hidden
}

.meus-cupons-menu-label{
  @apply bg-white/10 text-white font-black text-lg 
}

/*minhas-metas*/ 

/*minhas-metas Saldo*/ 

.saldo{
  @apply bg-primary-500/10 text-white shadow-neon-container-sec p-4 md:p-6 my-4 text-sm   w-full cursor-pointer  text-start rounded-2xl rounded-br-5xl justify-center backdrop-blur-xl items-center flex flex-col overflow-hidden
}

.saldo-details-text{
  @apply text-accent-500 font-extrabold
}

.saldo-barra{
  @apply bg-accent-500
}
.saldo-barra-bg{
  @apply bg-secondary-300
}

/*minhas-metas Saldo produtos participantes*/ 



.saldo-produto{
  @apply bg-primary-500/10 text-white shadow-neon-container-sec text-sm   w-full cursor-pointer  text-start rounded-2xl rounded-br-5xl justify-center backdrop-blur-xl items-center flex flex-col md:flex-row overflow-hidden
}

.saldo-bg-secondary{
  @apply bg-white/10  font-extrabold md:w-1/4 text-base   p-4 md:p-6 flex flex-col items-center justify-center
}

/*Produtos participantes*/ 

.produtos-participantes-card, .redes-participantes-card{
  @apply shadow-neon-container-sec text-sm bg-cover flex flex-col justify-between   gap-4  p-6 w-full cursor-pointer  text-start rounded-2xl rounded-br-5xl backdrop-blur-xl items-center   
}

.redes-participantes-premios-header{
  @apply !text-primary-700 uppercase font-black text-xl  md:text-2xl
}