/* Fonts */
@font-face {
  font-family: "AmsiPro";
  src: url("/fonts/AmsiPro-Regular.otf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "AmsiPro";
  src: url("/fonts/AmsiPro-Bold.otf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "AmsiPro";
  src: url("/fonts/AmsiPro-Ultra.otf");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@theme {
  /* Fontes */

  --font-paragraph: "AmsiPro", sans-serif;
  --font-title: "AmsiPro", sans-serif;
  /* Colors */
  --color-primary-100: #d8dcff;
  --color-primary-300: #919be2;
  --color-primary-500: #3f4dac;
  --color-primary-700: #2e397e;
  --color-primary-900: #1b214a;

  --color-secondary-100: #ffd6e0;
  --color-secondary-300: #ff8fc4;
  --color-secondary-500: #ff3fdc;
  --color-secondary-700: #d1209f;
  --color-secondary-900: #70004e;

  --color-accent-100: #fffece;
  --color-accent-300: #fffca1;
  --color-accent-500: #fff67b;
  --color-accent-700: #d6b143;

  --color-reprovado: #FFA2A2;
  --color-pendente: #FFB86A;
  --color-aprovado: #7BF1A8;

  --color-whatsapp-green: #25d366;
  --color-whatsapp-cyan: #128c7e;

  --color-success: #16a34a;
  --color-error: #f87171;

  --color-placeholder: #999999;

  /* Shadows */

  --shadow-xs: 0px 4px 25px rgba(63, 77, 172, 0.25);
  --shadow-sm: 0px 4px 50px rgba(63, 77, 172, 0.25);
  --shadow-md: 0px 4px 100px rgba(63, 77, 172, 0.25);
  --shadow-lg: 0px 4px 100px rgba(63, 77, 172, 0.5);
  --shadow-neon-xs: 0px 0px 10px var(--color-secondary-500);
  --shadow-neon-sm: 0px 0px 25px var(--color-secondary-500);
  --shadow-neon-md: 0px 0px 50px rgba(255, 63, 220, 0.5);
  --shadow-neon-lg: 0px 0px 100px var(--color-secondary-500);
  --shadow-neon-xl: 0px 0px 200px var(--color-secondary-500);
  --shadow-neon-container-sec: 0px 24px 100px rgba(255, 63, 220, 0.25);
  --shadow-neon-container-pri: 0px 24px 100px rgba(255, 63, 220, 0.5);

  --drop-shadow-xs: 0px 4px 25px rgba(63, 77, 172, 0.25);
  --drop-shadow-sm: 0px 4px 50px rgba(63, 77, 172, 0.25);
  --drop-shadow-md: 0px 4px 100px rgba(63, 77, 172, 0.25);
  --drop-shadow-lg: 0px 4px 100px rgba(63, 77, 172, 0.5);
  --drop-shadow-neon-xs: 0px 0px 10px var(--color-secondary-500);
  --drop-shadow-neon-sm: 0px 0px 25px var(--color-secondary-500);
    /* --drop-shadow-neon-sm: 25px 25px 25px black; */
  --drop-shadow-neon-md: 0px 0px 50px rgba(255, 63, 220, 0.5);
  --drop-shadow-neon-lg: 0px 0px 100px var(--color-secondary-500);
  --drop-shadow-neon-xl: 0px 0px 200px var(--color-secondary-500);

  /* Gradients */
  --gradient-primary-linear: linear-gradient(
    to bottom,
    var(--color-primary-700),
    var(--color-primary-300)
  );

  --gradient-secondary-linear: linear-gradient(
    to bottom,
    var(--color-secondary-500),
    var(--color-secondary-700)
  );

  --gradient-green-linear: linear-gradient(
    to bottom,
    var(--green-600),
    var(--green-700)
  );

  --gradient-secondary-radius: radial-gradient(
    circle,
    var(--color-secondary-500),
    var(--color-secondary-900)
  );

  --gradient-secondary-radius-transparent: radial-gradient(
    circle,
    rgba(0, 0, 0, 0),
    var(--color-secondary-900)
  );
/* 
  --background-color-primary: red ;
  --background-color-secondary: yellow ; */
  --background-image-primary: url("/images/base/bg-primary.webp");
  --background-image-secondary: url("/images/base/bg-secondary.webp");
  --background-image-accent: url("/images/base/bg-accent.webp");
  --radius-5xl: 64px;
  

  

    /* --background-position-primary: fixed; */


}
