@layer utilities {
.container-margin {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


/* Style modal pdf */

.ReactModalPortal .ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModalPortal {
  position: relative;
  z-index: 50;
}

/* Style swiper */

.swiper {
  width: 100%;
  padding-bottom: 1rem !important;
}

.swiper [class^='swiper-button-'] {
  inset: initial;
  margin: 0;
  align-self: center;
}

.masked {
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    black,
    black,
    black,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black,
    black,
    black,
    transparent
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  overflow: hidden;
}

/* Style swiper */
.slider-wrapper{
  @apply max-w-7xl w-full flex
   items-center justify-center  
}
.arrow-swiper{
  @apply w-[10%] min-w-8 max-w-16 aspect-square z-10  bg-[url('/images/base/arrow.webp')] bg-contain bg-no-repeat hover:scale-110 transition-all  hover:brightness-110 hover:cursor-pointer bg-center ;
}

 /* .swiper{
  @apply pointer-events-none !flex !w-full !gap-8 p-2 max-w-xs 2xl:max-w-xl 
} */


.swiper-img{
  @apply pointer-events-auto p-2 mx-auto object-contain h-full max-h-[50vh]    flex justify-center flex-row items-center    transition-all drop-shadow-neon-md
}

/* .swiper {
  width: 90%;
  margin: 0 !important;
  display: grid !important;
}

.swiper [class^='swiper-button-'] {
  inset: initial;
  margin: 0;
  align-self: center;
}

.swiper-wrapper {
  margin-bottom: 24px !important;
  position: relative !important;
} */

.custom-swal-popup {
  max-width: 600px; /* Limita o tamanho máximo */
  width: 90%; /* Usa 90% da largura disponível */
}
.slide-in {
  transform: translateX(0) !important;
  opacity: 1 !important;
}


.rotate-roulette {
  transform: rotate(-45deg);
}

#ganhadores-table::-webkit-scrollbar {
  width: 16px;
  /* width of the entire scrollbar */
}

#ganhadores-table::-webkit-scrollbar-track {
  background: #fff;
  /* color of the tracking area */
}

#ganhadores-table::-webkit-scrollbar-thumb {
  background-color: var(--secondary-300);
  /* color of the scroll thumb */
  border-radius: 5px;
  /* roundness of the scroll thumb */
  border: 1px solid #fff;
  /* creates padding around scroll thumb */
}

/* media query telas acima de 768 */

@media screen and (min-width: 768px) {
  .container-margin {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .swiper {
    width: 32vw;
    overflow: visible;
  }

  #meus-cupons .swiper {
    width: 50vw;
  }
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-10 {
  grid-column: span 10 / span 10;
}

.col-span-11 {
  grid-column: span 11 / span 11;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.col-span-7 {
  grid-column: span 7 / span 7;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}

.col-span-9 {
  grid-column: span 9 / span 9;
}

@media (min-width: 768px) {
  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:col-span-10 {
    grid-column: span 10 / span 10;
  }

  .md\:col-span-11 {
    grid-column: span 11 / span 11;
  }

  .md\:col-span-12 {
    grid-column: span 12 / span 12;
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .md\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .md\:col-span-5 {
    grid-column: span 5 / span 5;
  }

  .md\:col-span-6 {
    grid-column: span 6 / span 6;
  }

  .md\:col-span-7 {
    grid-column: span 7 / span 7;
  }

  .md\:col-span-8 {
    grid-column: span 8 / span 8;
  }

  .md\:col-span-9 {
    grid-column: span 9 / span 9;
  }
}

.motion-safe\:animate-spin {
  animation: spin 1s linear infinite;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.animation-delay-1{
  animation-delay: 1s;
}
.animation-delay-2{
  animation-delay: 2s;
}
.animation-delay-3{
  animation-delay: 3s;
}
.animation-delay-4{
  animation-delay: 4s;
}


.swiper-marcas {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-participantes {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-meus-premios {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .swiper-participantes {
    width: 70%;
  }
}

@media (min-width: 1300px) {
  .swiper-slide-marcas {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    width: max-content;
    height: auto;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

/* Select FAQ */


/* Select FAQ */
.select-container {
  @apply relative inline-block w-full;
}

.select-container select {
    background: none !important;
}

.select-container::after {
  content: '';
  background: url('data:image/svg+xml;charset=UTF-8,<svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.8409 0.408203L7.16622 0.408203L1.15577 0.408203C0.12725 0.408203 -0.387011 1.65006 0.341525 2.37806L5.89129 7.92359C6.78053 8.81216 8.22689 8.81216 9.11613 7.92359L11.2267 5.81458L14.6659 2.37806C15.3837 1.65006 14.8694 0.408203 13.8409 0.408203Z" fill="white"/></svg>') !important;
  transform: translateY(-50%);
  @apply absolute top-1/2 right-4 w-4 h-4 bg-contain !bg-center !bg-no-repeat;
}

}